@font-face {
  font-family: "Norse Bold";
  src: url(./fonts/Norse-Bold.otf)
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  display: flex;
  flex: auto;
}

.sidebar {
  position: relative;
  flex: 1;
}

.overlay {
  position: absolute;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Norse Bold", monospace;
  font-size: 5rem;
}

.overlay img {
  height: 110px;
  width: 80px;
  display: inline;
}

.credit {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
}

.credit a {
  color: #fff;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #f9fafb;
}

.description {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 0;
}

legend {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 2rem;
}

label {
  display: block;
  font-size: 0.65rem;
  font-weight: 700;
  color: #222;
  letter-spacing: 2px;
}

input {
  width: 250px;
  height: 30px;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
}

input:invalid {
  border: 1px solid #f00;
}

input:focus {
  border: 0;
}

input[type="password"] {
  font-size: 0.6rem;
  letter-spacing: 1px;
}

.confirmation {
  color: #f00;
  font-size: 0.6rem;
  display: none;
}

.form-row {
  margin: 1rem 4rem 2rem 2rem;
}

.inputs {
  box-shadow: 0 3px 2px #D5D7DB;
  background-color: #fff;
}

button {
  margin: 2rem;
  border: 0;
  background-color: #596D48;
  width: 180px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  font-size: 1rem;
}

.login {
  margin: 0 2rem;
}

.login a {
  text-decoration: none;
  color: #595959;
  font-weight: 700;
}